*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Buffers Shader */

.buffer-shader {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
}
